footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(58, 53, 49, 1);
  font-size: 0.6em;
  line-height: 1.25em;
  color: #ffffff;
  height: 200px;
}

footer .inner {
  padding: 20px;
}

footer a {
  color: #ffffff;
  border-bottom-color: #ffffff;
}

footer .links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: rgba(121, 111, 103, 1);
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
}
.footer-logo {
  width: 80px;
  margin-bottom: 20px;
}
footer ol {
  margin: 2px 0;
}

footer .give-link img {
  width: 110px;
}

.home footer {
  background-color: rgba(58, 53, 49, 0.5);
}
.home footer .links a {
  background-color: rgba(121, 111, 103, 0.5);
}

footer .ambitions {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  footer {
    height: 280px;
    font-size: 0.8em;
  }
  .footer-logo {
    width: 60px;
  }
  footer .links a {
    width: 25px;
    height: 25px;
    font-size: 1.25em;
    line-height: 25px;
  }
}