
.App {
  min-height: 100%;
  position: relative;
  padding-bottom: 200px;
}

.App-logo {
  width: 190px;
  float: left;
  margin-right: -190px;
}

.App-header {
  background-color: rgba(45, 41, 38, 1);
  color: white;
  margin-bottom: 2em;
}

.App-header .inner {
  max-width: 1120px;
  height: 10em;
  padding: 20px 0;
  margin: 0 auto;
}

.App-title {
  margin: 0.25em 0;
  line-height: 0.85em;
  font-size: 1.85em;
  margin-left: 210px;
  display: inline-block;
}
a.logo-title {
  text-decoration: none;
  color: #ffffff;
}
a.logo-title:hover {
  border-bottom: none;
}

.App-intro {
  font-size: large;
}

.App-body {
  margin: 50px auto;
  max-width: 740px;
}

.App-body-inner {
  margin: 0 20px;
}

/*@media only screen*/

@media screen and (max-width: 1024px) {

  .App-logo {
    width: 150px;
    margin-right: -150px;
  }
  .App-title {
    margin-left: 160px;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .App {
    padding-bottom: 330px;
  }
  .App-logo {
    width: 120px;
    margin-right: -120px;
  }
  .App-title {
    margin-left: 130px;
    font-size: 1.7em;
  }
  .App-header .inner {
    padding: 15px;
  }
}
@media screen and (max-device-width: 568px) {
  .App-logo {
    width: 90px;
    margin-right: -90px;
  }
  .App-title {
    margin-left: 100px;
    font-size: 1.3em;
  }
  .App-header .inner {
    padding: 10px;
  }
}