.mobile-nav,
.nav-menu {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  /*float: right;*/
  font-size: 1.1em;
}
.mobile-nav p {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.mobile-nav ul,
.nav-menu ul {
  list-style-type: none;
  margin: 1.25em 0;
  padding: 0.5em;
  overflow: hidden;
}
.mobile-nav ul {
  background-color: #222222;
}

.nav-container ul li {
  list-style: none;
}

.nav-menu li {
  float: left;
}

.nav-container li a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
  font-weight: 600;
  transition: all .5s ease;
  color: #ffffff;
  border-bottom-color: #ffffff;
}

.nav-menu li a {
  text-align: center;
}

.mobile-nav li a {
  text-align: right;
}