.mobile-nav,
.nav-menu {
  position: absolute;
  top: 1em;
  right: 1em;
}
.mobile-nav p {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 1.6em;
}
.mobile-nav ul,
.nav-menu ul {
  list-style-type: none;
  margin: 1.25em 0;
  padding: 0;
  overflow: hidden;
}
.mobile-nav ul {
  background-color: #222222;
}

.nav-container ul li {
  list-style: none;
}

.nav-menu li {
  float: left;
}

.nav-container li a {
  display: block;
  padding: 0.4em;
  text-decoration: none;
  font-weight: 600;
  transition: all .5s ease;
  color: #ffffff;
  border-bottom-color: #ffffff;
}
.nav-container li a.active {
  background-color: rgba(255, 255, 255, 0.25);
}
.mobile-nav li a {
  padding: 0.5em 1em;
}

.nav-menu li a {
  text-align: center;
}

.mobile-nav li a {
  text-align: right;
}