.home video.bgvid,
.home .bgimg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.home .mobile-nav ul {
  background-color: transparent;
}

.home .App-header {
  background-color: transparent;
}

body .home {
  color: #ffffff;
}

.home-intro {
  margin-top: 5em;
  text-align: center;
}

.home-intro h1 {
  font-size: 1.8em;
  line-height: 1.1em;
  margin: 0;
}

.home {
  text-shadow: 2px 2px #666;
}

@media screen and (max-device-width: 568px) {
  .home-intro {
    margin: 5em 0 4em;
  }

}